{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Home</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Athletes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">
                            <i class="nav-icon icon-list"></i> Athletes List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_regi' %}">
                            <i class="nav-icon icon-plus"></i> Registration</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Coaches</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <i class="nav-icon icon-list"></i> Coaches List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_teacher' %}">
                            <i class="nav-icon icon-plus"></i> Create New Coach</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>

